$text-white: #ffffff;
$text-black: #000000;
$text-disabled: #cccccc;
$text-grey: rgba(0, 0, 0, 0.541327);
$default-current: #41f795;
$default-prev: #ffeb3b;
$pre-install-1: #f74141;
$pre-install-2: #41b6f7;
$menu-active: #c4c4c4;
$width-container-max: 1440px;
$width-container-min: 1092px;
