.aside-right {
  float: right;
  width: 290px;
  padding: 50px 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $text-grey;

  &__title {
    margin-bottom: 15px;

    font-size: 14px;
    line-height: normal;
    text-align: center;
  }

  & .aside-right__fsizes {
    margin-bottom: 30px;

    background: $text-white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  }

  .aside-right__fsize-bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;

    line-height: 60px;

    border: 1px solid $text-black;
  }

  .aside-right__fsize-name {
    display: inline-block;
    margin-left: 35px;

    line-height: 60px;
  }

  .active {
    background: $menu-active;
  }

  .aside-right__fsize {
    cursor: pointer;
  }

  .aside-right__fsize:not(.active):hover {
    background: #eeeeee;
  }

  .town-tool input,
  .town-tool button {
    float: left;
    padding: 5px;

    color: $text-grey;

    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    &[disabled] {
      color: $text-disabled;
    }
  }

  .town-tool input {
    width: 75%;
    height: 28px;
    margin-right: 5%;
    margin-bottom: 30px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .town-tool button:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}
