.header {
  font-size: 20px;
  line-height: 23px;
  font-family: "Roboto-Medium", sans-serif;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 80px;
    padding: 15px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  }

  .header__icon-aside,
  .header__title,
  .header__icon-menu {
    margin-left: 20px;

    line-height: 50px;
  }

  .header__icon-menu {
    flex-grow: 1;
    margin-right: 20px;

    text-align: right;
  }
}
